.frispesGallery{
    .frispesGallery__slide__wrapper{
        flex-wrap: nowrap;
        .frispesGallery__slide{
            display: block;
            height: 350px;
            .frispesGallery__slide__img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .frispesGallery__slides__data{
        padding-left: 4px;
        .frispesGallery__slides__heading{
            @extend .section-heading;
            position: relative;
        }
        .frispesGallery__slides__heading::after{
            content: '';
            position: absolute;
            width: 73px;
            height: 2px;
            background-color: $black-1;
            top: 50%;
            left: calc(100% + 15px)
        }
        .frispesGallery__slides__title{
            @extend .section-title;
        }

        .frispesGallery__slides__control{
            display: flex;
            height: 8px;
            gap: 23px;
            .frispesGallery__slides__control__button{
                transition: all ease .25s;
            }
            .frispesGallery__slides__control__button.prev{
                @extend .section-control-shape;
                .frispesGallery__slides__control__button__icon{
                    font-size: 1rem;
                    color: $gray-1;
                    position: absolute;
                    top: 50%;
                    left: -4px;
                    transform: translateY(-50%);
                    transition: all ease .25s;
                }
            }
            .frispesGallery__slides__control__button.next{
                @extend .section-control-shape;
                .frispesGallery__slides__control__button__icon{
                    font-size: 1rem;
                    color: $gray-1;
                    position: absolute;
                    top: 50%;
                    right: -4px;
                    transform: translateY(-50%);
                }
            }
            .frispesGallery__slides__control__button:hover{
                width: 89px;
                height: 5px;
                background-color: $second-primary;
                cursor: pointer;
                .frispesGallery__slides__control__button__icon{
                    font-size: 1.2rem;
                    color: $second-primary;
                }
            }
        }
    }
}

@include respond(mobile){
   .frispesGallery{
       .frispesGallery__slides__data{
           .frispesGallery__slides__title{
               font-size: $fs-26;
               br{
                   display: none;
               }
           }
       }
   } 
}